<a href="https://colab.research.google.com/github/davinavc/Data-Analyst/blob/main/Datacamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Import library
import pandas as pd

In [4]:
# Load the dataset
df = pd.read_csv('/content/pet_supplies_2212.csv')

In [5]:
# Dataset Size
print(df.shape)

(1500, 8)

In [6]:
# Columns names in dataset
print(df.columns)

Index(['product_id', 'category', 'animal', 'size', 'price', 'sales', 'rating',
       'repeat_purchase'],
      dtype='object')

In [7]:
# Checking datatypes
print(df.dtypes)

product_id           int64
category            object
animal              object
size                object
price               object
sales              float64
rating             float64
repeat_purchase      int64
dtype: object

In [8]:
# Show top 5 of data
print(df.head(5))

   product_id  category animal    size  price    sales  rating  \
0           1      Food   Bird   large   51.1  1860.62     7.0
1           2   Housing   Bird  MEDIUM  35.98   963.60     6.0
2           3      Food    Dog  medium  31.23   898.30     5.0
3           4  Medicine    Cat   small  24.95   982.15     6.0
4           5   Housing    Cat   Small  26.18   832.63     7.0

   repeat_purchase
0                1
1                0
2                1
3                1
4                1

In [9]:
# Checking missing value for each columns
print(df.isna().sum())

product_id           0
category             0
animal               0
size                 0
price                0
sales                0
rating             150
repeat_purchase      0
dtype: int64

In [10]:
# Fill the missing value in column rating using 0
df['rating'] = df['rating'].fillna(0)
print(df.isna().sum())

product_id         0
category           0
animal             0
size               0
price              0
sales              0
rating             0
repeat_purchase    0
dtype: int64

In [11]:
# Define a function to categorize sizes into 'Small', 'Medium', or 'Large', or 'Unknown' if not recognized.
def categorize_size (size):
  size = str(size).lower()
  if 'small' in size:
    return 'Small'
  elif 'medium' in size:
    return 'Medium'
  elif 'large' in size:
    return 'Large'
  else:
    return 'Unknown'

# Apply the categorize_size function to the 'size' column of the DataFrame
df['size'] = df['size'].apply(categorize_size)
print(df['size'])

0        Large
1       Medium
2       Medium
3        Small
4        Small
         ...
1495    Medium
1496     Small
1497     Small
1498     Small
1499    Medium
Name: size, Length: 1500, dtype: object

In [12]:
# Checking undetected missing value in category column
df_unknown_category = df['category'] == '-'
count_unknown_category = df_unknown_category.sum()
print(count_unknown_category)

25

In [13]:
# Replace the hyphen to Unknown
df['category'] = df['category'].replace('-','Unknown')
print(df['category'].loc[20:25])

20         Food
21         Food
22      Unknown
23    Equipment
24         Toys
25      Housing
Name: category, dtype: object

In [19]:
# Replace the unlisted price using median price
df['price'] = df['price'].replace('unlisted', pd.NA)

# Convert the 'price' column to numeric (float)
df['price'] = pd.to_numeric(df['price'], errors='coerce')

# Replace any NaN values in the 'price' column with the median price
median_price = df['price'].median()
df['price'].fillna(median_price, inplace=True)
print(df['price'].loc[20:25])

20    28.065
21    41.000
22    32.980
23    22.990
24    38.990
25    45.830
Name: price, dtype: float64

In [20]:
print(df.tail(30))

      product_id   category animal    size   price    sales  rating  \
1470        1471  Equipment   Fish   Small  23.050   706.21     5.0
1471        1472       Toys   Fish   Small  28.065   976.63     0.0
1472        1473  Equipment   Fish   Small  22.960   701.39     6.0
1473        1474   Medicine    Dog   Small  29.810  1079.33     5.0
1474        1475       Food   Bird  Medium  41.160  1213.07     3.0
1475        1476       Toys    Cat  Medium  29.050  1079.45     7.0
1476        1477    Housing   Bird   Large  28.065  1567.31     0.0
1477        1478    Housing    Cat   Small  25.780   819.79     5.0
1478        1479  Accessory   Bird   Large  42.990  1419.96     4.0
1479        1480    Housing   Fish   Large  26.010   780.17     3.0
1480        1481       Food   Bird  Medium  40.980  1212.22     4.0
1481        1482       Toys    Cat  Medium  29.000  1084.78     5.0
1482        1483       Toys    Cat   Small  34.040  1352.33     5.0
1483        1484  Equipment    Cat   Small  28.065  1037.81     0.0
1484        1485  Equipment    Cat   Small  28.030  1039.06     6.0
1485        1486    Housing    Cat  Medium  21.010   615.22     3.0
1486        1487       Toys   Fish   Small  29.100   981.97     4.0
1487        1488   Medicine   Fish   Small  19.940   663.56     7.0
1488        1489  Equipment   Fish   Small  23.250   713.67     3.0
1489        1490  Accessory   Bird   Large  43.050  1427.33     4.0
1490        1491   Medicine    Cat  Medium  20.140   746.16     7.0
1491        1492       Toys    Cat   Small  34.230  1365.70     5.0
1492        1493   Medicine    Cat   Small  24.950   993.08     7.0
1493        1494    Housing   Fish   Small  21.000   535.90     3.0
1494        1495   Medicine   Bird   Small  39.960  1478.99     3.0
1495        1496       Food   Bird  Medium  40.910  1203.36     5.0
1496        1497  Equipment    Dog   Small  32.890  1099.97     5.0
1497        1498       Food   Fish   Small  25.790   724.02     3.0
1498        1499   Medicine   Fish   Small  19.940   658.66     5.0
1499        1500       Food    Cat  Medium  25.950   826.08     4.0

      repeat_purchase
1470                1
1471                0
1472                1
1473                0
1474                0
1475                1
1476                1
1477                0
1478                0
1479                1
1480                0
1481                1
1482                1
1483                1
1484                1
1485                1
1486                1
1487                0
1488                1
1489                0
1490                1
1491                0
1492                1
1493                1
1494                0
1495                0
1496                0
1497                0
1498                1
1499                1

In [15]:
from google.colab import files
df.to_csv('datacamp.csv')
files.download('datacamp.csv')