<a href="https://colab.research.google.com/github/davinavc/Data-Analyst/blob/main/Datacamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import library
import pandas as pd

In [2]:
# Load the dataset
df = pd.read_csv('/content/pet_supplies_2212.csv')

In [ ]:
# Dataset Size
print(df.shape)

In [3]:
# Columns names in dataset
print(df.columns)

Index(['product_id', 'category', 'animal', 'size', 'price', 'sales', 'rating',
       'repeat_purchase'],
      dtype='object')

In [13]:
# Checking datatypes
print(df.dtypes)

product_id           int64
category            object
animal              object
size                object
price               object
sales              float64
rating             float64
repeat_purchase      int64
dtype: object

In [5]:
# Show top 5 of data
print(df.head(5))

   product_id  category animal    size  price    sales  rating  \
0           1      Food   Bird   large   51.1  1860.62     7.0
1           2   Housing   Bird  MEDIUM  35.98   963.60     6.0
2           3      Food    Dog  medium  31.23   898.30     5.0
3           4  Medicine    Cat   small  24.95   982.15     6.0
4           5   Housing    Cat   Small  26.18   832.63     7.0

   repeat_purchase
0                1
1                0
2                1
3                1
4                1

In [7]:
# Checking missing value for each columns
print(df.isna().sum())

product_id           0
category             0
animal               0
size                 0
price                0
sales                0
rating             150
repeat_purchase      0
dtype: int64

In [12]:
# Fill the missing value in column rating using 0
df['rating'] = df['rating'].fillna(0)
print(df.isna().sum())

product_id         0
category           0
animal             0
size               0
price              0
sales              0
rating             0
repeat_purchase    0
dtype: int64

In [9]:
# Define a function to categorize sizes into 'Small', 'Medium', or 'Large', or 'Unknown' if not recognized.
def categorize_size (size):
  size = str(size).lower()
  if 'small' in size:
    return 'Small'
  elif 'medium' in size:
    return 'Medium'
  elif 'large' in size:
    return 'Large'
  else:
    return 'Unknown'

# Apply the categorize_size function to the 'size' column of the DataFrame
df['size'] = df['size'].apply(categorize_size)
print(df['size'])

0        Large
1       Medium
2       Medium
3        Small
4        Small
         ...
1495    Medium
1496     Small
1497     Small
1498     Small
1499    Medium
Name: size, Length: 1500, dtype: object

In [10]:
# Checking undetected missing value in category column
df_unknown_category = df['category'] == '-'
count_unknown_category = df_unknown_category.sum()
print(count_unknown_category)

25

In [11]:
# Replace the hyphen to Unknown
df['category'] = df['category'].replace('-','Unknown')
print(df['category'].loc[20:25])

20         Food
21         Food
22      Unknown
23    Equipment
24         Toys
25      Housing
Name: category, dtype: object

In [17]:
print(df.tail(30))

      product_id   category animal    size     price    sales  rating  \
1470        1471  Equipment   Fish   Small     23.05   706.21     5.0
1471        1472       Toys   Fish   Small  unlisted   976.63     0.0
1472        1473  Equipment   Fish   Small     22.96   701.39     6.0
1473        1474   Medicine    Dog   Small     29.81  1079.33     5.0
1474        1475       Food   Bird  Medium     41.16  1213.07     3.0
1475        1476       Toys    Cat  Medium     29.05  1079.45     7.0
1476        1477    Housing   Bird   Large  unlisted  1567.31     0.0
1477        1478    Housing    Cat   Small     25.78   819.79     5.0
1478        1479  Accessory   Bird   Large     42.99  1419.96     4.0
1479        1480    Housing   Fish   Large     26.01   780.17     3.0
1480        1481       Food   Bird  Medium     40.98  1212.22     4.0
1481        1482       Toys    Cat  Medium        29  1084.78     5.0
1482        1483       Toys    Cat   Small     34.04  1352.33     5.0
1483        1484  Equipment    Cat   Small  unlisted  1037.81     0.0
1484        1485  Equipment    Cat   Small     28.03  1039.06     6.0
1485        1486    Housing    Cat  Medium     21.01   615.22     3.0
1486        1487       Toys   Fish   Small      29.1   981.97     4.0
1487        1488   Medicine   Fish   Small     19.94   663.56     7.0
1488        1489  Equipment   Fish   Small     23.25   713.67     3.0
1489        1490  Accessory   Bird   Large     43.05  1427.33     4.0
1490        1491   Medicine    Cat  Medium     20.14   746.16     7.0
1491        1492       Toys    Cat   Small     34.23  1365.70     5.0
1492        1493   Medicine    Cat   Small     24.95   993.08     7.0
1493        1494    Housing   Fish   Small        21   535.90     3.0
1494        1495   Medicine   Bird   Small     39.96  1478.99     3.0
1495        1496       Food   Bird  Medium     40.91  1203.36     5.0
1496        1497  Equipment    Dog   Small     32.89  1099.97     5.0
1497        1498       Food   Fish   Small     25.79   724.02     3.0
1498        1499   Medicine   Fish   Small     19.94   658.66     5.0
1499        1500       Food    Cat  Medium     25.95   826.08     4.0

      repeat_purchase
1470                1
1471                0
1472                1
1473                0
1474                0
1475                1
1476                1
1477                0
1478                0
1479                1
1480                0
1481                1
1482                1
1483                1
1484                1
1485                1
1486                1
1487                0
1488                1
1489                0
1490                1
1491                0
1492                1
1493                1
1494                0
1495                0
1496                0
1497                0
1498                1
1499                1