<a href="https://colab.research.google.com/github/davinavc/Data-Analyst/blob/main/Datacamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/pet_supplies_2212.csv')

In [3]:
print(df.columns)

Index(['product_id', 'category', 'animal', 'size', 'price', 'sales', 'rating',
       'repeat_purchase'],
      dtype='object')

In [4]:
print(df.dtypes)

product_id           int64
category            object
animal              object
size                object
price               object
sales              float64
rating             float64
repeat_purchase      int64
dtype: object

In [5]:
print(df.head(5))

   product_id  category animal    size  price    sales  rating  \
0           1      Food   Bird   large   51.1  1860.62     7.0
1           2   Housing   Bird  MEDIUM  35.98   963.60     6.0
2           3      Food    Dog  medium  31.23   898.30     5.0
3           4  Medicine    Cat   small  24.95   982.15     6.0
4           5   Housing    Cat   Small  26.18   832.63     7.0

   repeat_purchase
0                1
1                0
2                1
3                1
4                1

In [6]:
print(df.shape)

(1500, 8)

In [7]:
print(df.isna().sum())

product_id           0
category             0
animal               0
size                 0
price                0
sales                0
rating             150
repeat_purchase      0
dtype: int64

In [12]:
df['rating'] = df['rating'].fillna(0)
print(df.isna().sum())

product_id         0
category           0
animal             0
size               0
price              0
sales              0
rating             0
repeat_purchase    0
dtype: int64

In [9]:
def categorize_size (size):
  size = str(size).lower()
  if 'small' in size:
    return 'Small'
  elif 'medium' in size:
    return 'Medium'
  elif 'large' in size:
    return 'Large'
  else:
    return 'Unknown'

df['size'] = df['size'].apply(categorize_size)
print(df['size'])

0        Large
1       Medium
2       Medium
3        Small
4        Small
         ...
1495    Medium
1496     Small
1497     Small
1498     Small
1499    Medium
Name: size, Length: 1500, dtype: object

In [10]:
df_unknown_category = df['category'] == '-'
count_unknown_category = df_unknown_category.sum()
print(count_unknown_category)

25

In [11]:
df['category'] = df['category'].replace('-','Unknown')
print(df['category'].loc[20:25])

20         Food
21         Food
22      Unknown
23    Equipment
24         Toys
25      Housing
Name: category, dtype: object