<a href="https://colab.research.google.com/github/davinavc/Data-Analyst/blob/main/Police_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Police Dataset

Import library

In [2]:
import pandas as pd

Read CSV file

In [3]:
data = pd.read_csv('/content/sample_data/3. Police Data.csv')
print(data.head())

   stop_date stop_time  country_name driver_gender  driver_age_raw  \
0   1/2/2005      1:55           NaN             M          1985.0
1  1/18/2005      8:15           NaN             M          1965.0
2  1/23/2005     23:15           NaN             M          1972.0
3  2/20/2005     17:15           NaN             M          1986.0
4  3/14/2005     10:00           NaN             F          1984.0

   driver_age driver_race     violation_raw violation search_conducted  \
0        20.0       White          Speeding  Speeding            False
1        40.0       White          Speeding  Speeding            False
2        33.0       White          Speeding  Speeding            False
3        19.0       White  Call for Service     Other            False
4        21.0       White          Speeding  Speeding            False

  search_type   stop_outcome is_arrested stop_duration drugs_related_stop
0         NaN       Citation       False      0-15 Min              False
1         NaN       Citation       False      0-15 Min              False
2         NaN       Citation       False      0-15 Min              False
3         NaN  Arrest Driver        True     16-30 Min              False
4         NaN       Citation       False      0-15 Min              False

Data Cleaning
<br>Remove missing values

In [4]:
data.shape

(55741, 15)

In [5]:
data.isnull().sum()

stop_date                 0
stop_time                 0
country_name          55741
driver_gender          3550
driver_age_raw         3543
driver_age             3788
driver_race            3549
violation_raw          3549
violation              3550
search_conducted          1
search_type           53572
stop_outcome           3550
is_arrested            3550
stop_duration          3550
drugs_related_stop        1
dtype: int64

In [6]:
data.drop(columns = 'country_name', inplace = True)
print(data.head())

   stop_date stop_time driver_gender  driver_age_raw  driver_age driver_race  \
0   1/2/2005      1:55             M          1985.0        20.0       White
1  1/18/2005      8:15             M          1965.0        40.0       White
2  1/23/2005     23:15             M          1972.0        33.0       White
3  2/20/2005     17:15             M          1986.0        19.0       White
4  3/14/2005     10:00             F          1984.0        21.0       White

      violation_raw violation search_conducted search_type   stop_outcome  \
0          Speeding  Speeding            False         NaN       Citation
1          Speeding  Speeding            False         NaN       Citation
2          Speeding  Speeding            False         NaN       Citation
3  Call for Service     Other            False         NaN  Arrest Driver
4          Speeding  Speeding            False         NaN       Citation

  is_arrested stop_duration drugs_related_stop
0       False      0-15 Min              False
1       False      0-15 Min              False
2       False      0-15 Min              False
3        True     16-30 Min              False
4       False      0-15 Min              False

Which is more often stopped because of speeding, women or men?

In [7]:
data[data.violation == "Speeding"].driver_gender.value_counts()

driver_gender
M    22985
F    10306
Name: count, dtype: int64

Does gender affect who gets searched during a stop?

In [8]:
data.search_conducted.value_counts()

search_conducted
False    53571
True      2169
Name: count, dtype: int64

In [9]:
data.groupby("driver_gender").search_conducted.sum()

driver_gender
F     319
M    1850
Name: search_conducted, dtype: object

Summing boolean values essentially counts the number of True values because False is treated as 0 and True as 1. Therefore, the sum of a boolean series is the count of True values.

The mean of stop_duration

In [10]:
data["stop_duration"].value_counts()

stop_duration
0-15 Min     39505
16-30 Min    10291
30+ Min       2395
Name: count, dtype: int64

In [11]:
data["stop_duration"] = data["stop_duration"].map({"0-15 Min": 7.5, "16-30 Min":24, "30+ Min": 45})

In [12]:
data["stop_duration"].mean()

12.474305914812899

Compare the age distributions for each violation

In [15]:
data.groupby("violation").driver_age.describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,4651.0,31.445066,11.254693,16.0,23.0,28.0,38.0,81.0
Moving violation,9143.0,37.443837,13.366037,15.0,26.0,36.0,47.0,86.0
Other,3019.0,40.752236,12.641914,16.0,30.0,41.0,50.0,86.0
Registration/plates,1921.0,32.412285,10.957909,16.0,24.0,29.0,40.0,73.0
Speeding,33213.0,33.164875,12.561022,15.0,23.0,30.0,42.0,88.0

As you can see, the mean represents the average age of those committing the offense. Min represent the minimum age and max represent maximum age.